<a href="https://colab.research.google.com/github/gaganchapa/19MAT105--MATHEMATICS-FOR-INTELLIGENT-SYSTEMS/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS  

Pandas stands for “Python Data Analysis Library ”.

THE BASICS

![numpy and pandas.PNG]()

![image.png]()

In [ ]:
import numpy as np
import pandas as pd

dict1 = {
    "name" : ['harry' , 'rohan' , 'gagan' , 'joshi'],
    "marks" : [92 , 34 , 24 , 17],
    "city" : ['rampur' , 'kolkata', 'canada', 'united states']
}
df = pd.DataFrame(dict1)    # Converts the data to dataframe tabular form
df

    name  marks           city
0  harry     92         rampur
1  rohan     34        kolkata
2  gagan     24         canada
3  joshi     17  united states

In [ ]:
df.head(2)   # prints first two rows

    name  marks     city
0  harry     92   rampur
1  rohan     34  kolkata

In [ ]:
df.tail(2)  # prints last two elements

    name  marks           city
2  gagan     24         canada
3  joshi     17  united states

In [ ]:
df.describe() # to calculate mean and percentage and of the data

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [ ]:

from google.colab import files
uploaded = files.upload()

Saving diamonds.csv to diamonds (1).csv

In [ ]:
harry = pd.read_csv('diamonds.csv')
harry.head()

   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23    Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]

In [ ]:
dev = harry['cut']  # Gives the specified coloumn fro the csv
dev.head()

0      Ideal
1    Premium
2       Good
3    Premium
4       Good
Name: cut, dtype: object

In [ ]:
from google.colab import files
df.to_csv('filename.csv')       # imports your output to the csv file 
files.download('filename.csv')  # to download the file using colab

In [ ]:
harry ['cut'][1] # gives the output of the dataframe
harry ['cut'][0]

harry['cut'][0] = '123' # to change the dataframe particular object
harry.head() # without this line it will throws an error(WARNING....)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Unnamed: 0  carat      cut color clarity  ...  table  price     x     y     z
0           1   0.23      123     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21  Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23     Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29  Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31     Good     J     SI2  ...   58.0    335  4.34  4.35  2.75

[5 rows x 11 columns]

In [ ]:
harry.to_csv('harry.csv')    # to change in the excel sheet 
files.download('harry.csv')

In [ ]:
df.index = ['first','second','third','fourth'] # to Change the index of the dataframe
df

         name  marks           city
first   harry     92         rampur
second  rohan     34        kolkata
third   gagan     24         canada
fourth  joshi     17  united states

PANDAS DATA STRUCTURE 

SERIES -- A one dimension array capable of hiding any type of data

DATA FRAME -- A two dimensional data with coloums of differnt types of data

In [ ]:
import numpy as np 
import pandas as pd   
ser = pd.Series(np.random.rand(34))   # gives random values upto 33 rows 
ser

0     0.627611
1     0.282399
2     0.531685
3     0.699317
4     0.158898
5     0.869620
6     0.531442
7     0.491337
8     0.627780
9     0.562557
10    0.490349
11    0.595237
12    0.619686
13    0.574941
14    0.325069
15    0.242212
16    0.933510
17    0.310126
18    0.049249
19    0.270945
20    0.627503
21    0.894507
22    0.715048
23    0.411577
24    0.204299
25    0.490251
26    0.646009
27    0.186658
28    0.750737
29    0.819812
30    0.534373
31    0.226178
32    0.216840
33    0.402711
dtype: float64

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df

     A   B   C   D
0   26  50  30  93
1    0  36  19  17
2   47  18  85  94
3   21  39  64  48
4   27  83   5  45
..  ..  ..  ..  ..
95  96  65  21  35
96   1  83  60  46
97  20  49  29  82
98  57  32  88  24
99  40  56   4  91

[100 rows x 4 columns]

In [ ]:
newdf = pd.DataFrame(np.random.rand(334,5),index = np.arange(334)) # The arange() function is used to get evenly spaced values within a given interval.
newdf # gives random output of 334 rows and 5 colums

            0         1         2         3         4
0    0.675192  0.882303  0.758511  0.040279  0.122226
1    0.103561  0.224045  0.988177  0.811530  0.043459
2    0.523643  0.160793  0.524441  0.474354  0.853619
3    0.491799  0.508752  0.975194  0.709127  0.788542
4    0.305824  0.448897  0.679604  0.569748  0.917358
..        ...       ...       ...       ...       ...
329  0.070721  0.640812  0.469115  0.655341  0.121926
330  0.915254  0.496998  0.482188  0.872668  0.661377
331  0.637855  0.078257  0.056101  0.822384  0.983945
332  0.614379  0.140235  0.720408  0.708248  0.537245
333  0.980201  0.863496  0.966309  0.488025  0.295934

[334 rows x 5 columns]

In [ ]:
newdf[0][0] = "harry"   # prints harry in the first row and first column 
newdf.head()

          0         1         2         3         4
0     harry  0.882303  0.758511  0.040279  0.122226
1  0.103561  0.224045  0.988177  0.811530  0.043459
2  0.523643  0.160793  0.524441  0.474354  0.853619
3  0.491799  0.508752  0.975194  0.709127  0.788542
4  0.305824  0.448897  0.679604  0.569748  0.917358

In [ ]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [ ]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
newdf.to_numpy()  # to convert pandas to numpy

array([['harry', 0.8823029200262185, 0.7585107558384665,
        0.040278884145824034, 0.12222611313531029],
       [0.10356051870199057, 0.22404509910087234, 0.9881773226391101,
        0.8115302688826407, 0.04345937774807507],
       [0.5236432408394494, 0.1607933137893207, 0.5244409258779013,
        0.47435351688554384, 0.8536185568088157],
       ...,
       [0.6378552172330558, 0.07825688281153087, 0.05610066843770156,
        0.8223843232883526, 0.9839448495930849],
       [0.6143794554744975, 0.1402353180121344, 0.7204077111132194,
        0.7082482084605779, 0.5372452290818098],
       [0.9802008172677467, 0.8634958818290529, 0.9663085630628068,
        0.4880249380628222, 0.2959336235236787]], dtype=object)

In [ ]:
newdf.T # for Transpose

         0          1         2    ...        331       332       333
0      harry   0.103561  0.523643  ...   0.637855  0.614379  0.980201
1   0.882303   0.224045  0.160793  ...  0.0782569  0.140235  0.863496
2   0.758511   0.988177  0.524441  ...  0.0561007  0.720408  0.966309
3  0.0402789    0.81153  0.474354  ...   0.822384  0.708248  0.488025
4   0.122226  0.0434594  0.853619  ...   0.983945  0.537245  0.295934

[5 rows x 334 columns]

In [ ]:
newdf[0][0]

'harry'

In [ ]:
newdf[0][0] = 0.3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
newdf.head()

          0         1         2         3         4
0       0.3  0.882303  0.758511  0.040279  0.122226
1  0.103561  0.224045  0.988177  0.811530  0.043459
2  0.523643  0.160793  0.524441  0.474354  0.853619
3  0.491799  0.508752  0.975194  0.709127  0.788542
4  0.305824  0.448897  0.679604  0.569748  0.917358

In [ ]:
newdf.sort_index(axis=0 , ascending =False)  # to flip the rows of the table

             0         1         2         3         4
333   0.980201  0.863496  0.966309  0.488025  0.295934
332   0.614379  0.140235  0.720408  0.708248  0.537245
331   0.637855  0.078257  0.056101  0.822384  0.983945
330   0.915254  0.496998  0.482188  0.872668  0.661377
329  0.0707211  0.640812  0.469115  0.655341  0.121926
..         ...       ...       ...       ...       ...
4     0.305824  0.448897  0.679604  0.569748  0.917358
3     0.491799  0.508752  0.975194  0.709127  0.788542
2     0.523643  0.160793  0.524441  0.474354  0.853619
1     0.103561  0.224045  0.988177  0.811530  0.043459
0          0.3  0.882303  0.758511  0.040279  0.122226

[334 rows x 5 columns]

In [ ]:
newdf.sort_index(axis=1,ascending = False)  # to flip the columns in the table

            4         3         2         1          0
0    0.122226  0.040279  0.758511  0.882303        0.3
1    0.043459  0.811530  0.988177  0.224045   0.103561
2    0.853619  0.474354  0.524441  0.160793   0.523643
3    0.788542  0.709127  0.975194  0.508752   0.491799
4    0.917358  0.569748  0.679604  0.448897   0.305824
..        ...       ...       ...       ...        ...
329  0.121926  0.655341  0.469115  0.640812  0.0707211
330  0.661377  0.872668  0.482188  0.496998   0.915254
331  0.983945  0.822384  0.056101  0.078257   0.637855
332  0.537245  0.708248  0.720408  0.140235   0.614379
333  0.295934  0.488025  0.966309  0.863496   0.980201

[334 rows x 5 columns]

In [ ]:
newdf[0]   # to print only first columns

0            0.3
1       0.103561
2       0.523643
3       0.491799
4       0.305824
         ...
329    0.0707211
330     0.915254
331     0.637855
332     0.614379
333     0.980201
Name: 0, Length: 334, dtype: object

In [ ]:
type(newdf[0])

pandas.core.series.Series

Save and Copy Constructor

In [ ]:
newdf2 = newdf
newdf[0][0] = 978
# warning

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
newdf2 = newdf.copy()  # it just makes a copy
newdf2[0][0] = 978352 # it will not change the data in df2(hence it is a copy of df)
newdf.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          0         1         2         3         4
0       978  0.882303  0.758511  0.040279  0.122226
1  0.103561  0.224045  0.988177  0.811530  0.043459
2  0.523643  0.160793  0.524441  0.474354  0.853619
3  0.491799  0.508752  0.975194  0.709127  0.788542
4  0.305824  0.448897  0.679604  0.569748  0.917358

In [ ]:
newdf.loc[0,0] = 65445
newdf.head()

          0         1         2         3         4
0     65445  0.882303  0.758511  0.040279  0.122226
1  0.103561  0.224045  0.988177  0.811530  0.043459
2  0.523643  0.160793  0.524441  0.474354  0.853619
3  0.491799  0.508752  0.975194  0.709127  0.788542
4  0.305824  0.448897  0.679604  0.569748  0.917358

In [ ]:
# importing pandas as pd
import pandas as pd
  
# Creating the DataFrame
df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
                   'Name':['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age':[14, 25, 55, 8, 21]})
  
# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
  
# Set the index
df.index = index_
  
# Print the DataFrame
print(df)

       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21

In [ ]:
# return the value
result = df.loc['Row_2', 'Name'] #  Use DataFrame.loc attribute to access a particular cell in the given Dataframe using the index and column labels.
  
# Print the result
print(result)

Andrea

In [ ]:
# importing pandas as pd
import pandas as pd
  
# Creating the DataFrame
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[7, 2, 54, 3, None], 
                   "C":[20, 16, 11, 3, 8], 
                   "D":[14, 3, None, 2, 6]}) 
  
# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
  
# Set the index
df.index = index_
  
# Print the DataFrame
print(df)

          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0

In [ ]:
# return the values.
result = df.loc[:, ['A', 'D']] # Now we will use DataFrame.loc attribute to return the values present in the ‘A’ and ‘D’ column of the Dataframe.
  
# Print the result
print(result)

          A     D
Row_1  12.0  14.0
Row_2   4.0   3.0
Row_3   5.0   NaN
Row_4   NaN   2.0
Row_5   1.0   6.0

In [ ]:
# importing the module
import pandas as pd
   
# creating a sample dataframe
data = pd.DataFrame({'Brand' : ['Maruti', 'Hyundai', 'Tata',
                                'Mahindra', 'Maruti', 'Hyundai',
                                'Renault', 'Tata', 'Maruti'],
                     'Year' : [2012, 2014, 2011, 2015, 2012, 
                               2016, 2014, 2018, 2019],
                     'Kms Driven' : [50000, 30000, 60000, 
                                     25000, 10000, 46000, 
                                     31000, 15000, 12000],
                     'City' : ['Gurgaon', 'Delhi', 'Mumbai', 
                               'Delhi', 'Mumbai', 'Delhi', 
                               'Mumbai','Chennai',  'Ghaziabad'],
                     'Mileage' :  [28, 27, 25, 26, 28, 
                                   29, 24, 21, 24]})
   
# displaying the DataFrame
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [ ]:
# selecting cars with brand 'Maruti' and Mileage > 25
display(data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
4  Maruti  2012       10000   Mumbai       28

In [ ]:
# selecting range of rows from 2 to 5
display(data.loc[2 : 5])

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

In [ ]:
# updating values of Mileage if Year < 2015
data.loc[(data.Year < 2015), ['Mileage']] = 22
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       22
1   Hyundai  2014       30000      Delhi       22
2      Tata  2011       60000     Mumbai       22
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       22
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       22
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [ ]:
newdf.rename({0:'A',1:'B',2:'C',3:'D',4:'E'},axis=1,inplace = True)   #To change the names of the columns
newdf                                              # "inplace" will replace the changes to the  data frame

             A         B         C         D         E
0        65445  0.882303  0.758511  0.040279  0.122226
1     0.103561  0.224045  0.988177  0.811530  0.043459
2     0.523643  0.160793  0.524441  0.474354  0.853619
3     0.491799  0.508752  0.975194  0.709127  0.788542
4     0.305824  0.448897  0.679604  0.569748  0.917358
..         ...       ...       ...       ...       ...
329  0.0707211  0.640812  0.469115  0.655341  0.121926
330   0.915254  0.496998  0.482188  0.872668  0.661377
331   0.637855  0.078257  0.056101  0.822384  0.983945
332   0.614379  0.140235  0.720408  0.708248  0.537245
333   0.980201  0.863496  0.966309  0.488025  0.295934

[334 rows x 5 columns]

In [ ]:
newdf.drop('B',axis =1)  # to drop any column

             A         C         D         E
0        65445  0.758511  0.040279  0.122226
1     0.103561  0.988177  0.811530  0.043459
2     0.523643  0.524441  0.474354  0.853619
3     0.491799  0.975194  0.709127  0.788542
4     0.305824  0.679604  0.569748  0.917358
..         ...       ...       ...       ...
329  0.0707211  0.469115  0.655341  0.121926
330   0.915254  0.482188  0.872668  0.661377
331   0.637855  0.056101  0.822384  0.983945
332   0.614379  0.720408  0.708248  0.537245
333   0.980201  0.966309  0.488025  0.295934

[334 rows x 4 columns]

In [ ]:
newdf.loc[[1,2],['C','D']] # for viewing any certain column

          C         D
1  0.988177  0.811530
2  0.524441  0.474354

In [ ]:
newdf.loc[[1,2],:]  # for viewing all columns but only two rows

          A         B         C         D         E
1  0.103561  0.224045  0.988177  0.811530  0.043459
2  0.523643  0.160793  0.524441  0.474354  0.853619

In [ ]:
newdf.loc[:,['C','D']]  # to print all rows

            C         D
0    0.758511  0.040279
1    0.988177  0.811530
2    0.524441  0.474354
3    0.975194  0.709127
4    0.679604  0.569748
..        ...       ...
329  0.469115  0.655341
330  0.482188  0.872668
331  0.056101  0.822384
332  0.720408  0.708248
333  0.966309  0.488025

[334 rows x 2 columns]

In [ ]:
newdf.loc[[1,2],:] # to print all columns

          A         B         C         D         E
1  0.103561  0.224045  0.988177  0.811530  0.043459
2  0.523643  0.160793  0.524441  0.474354  0.853619

In [ ]:
newdf

             A         B         C         D         E
0        65445  0.882303  0.758511  0.040279  0.122226
1     0.103561  0.224045  0.988177  0.811530  0.043459
2     0.523643  0.160793  0.524441  0.474354  0.853619
3     0.491799  0.508752  0.975194  0.709127  0.788542
4     0.305824  0.448897  0.679604  0.569748  0.917358
..         ...       ...       ...       ...       ...
329  0.0707211  0.640812  0.469115  0.655341  0.121926
330   0.915254  0.496998  0.482188  0.872668  0.661377
331   0.637855  0.078257  0.056101  0.822384  0.983945
332   0.614379  0.140235  0.720408  0.708248  0.537245
333   0.980201  0.863496  0.966309  0.488025  0.295934

[334 rows x 5 columns]

In [ ]:
newdf.iloc[0,1] # iloc() is a indexed based selecting method which means that we have to pass integer index in the method to select specific row/column. 
# similarly if we wnt to use loc instead of iloc then we have to use:- 
#newdf.loc[[0],['B']]

0.8823029200262185

In [ ]:
newdf.iloc[[0,1],[1,2]]

          B         C
0  0.882303  0.758511
1  0.224045  0.988177

In [ ]:
newdf.drop([0]) # to drop a row

In [ ]:
newdf.drop(['A'],axis = 1) # to drop column

In [ ]:
newdf.drop(['A','C'],axis = 1)

In [ ]:
# So, till now we used drop and loc and iloc functions. by applying those it doesnt effect our remaing code because it is a copy of newdf
# Inorder to that we can  use 
# newdf.drop(['A','D'],axis=1,inplace=True)